.form {
	margin: 30px;
	display: grid;
	grid-template: 36px 1fr 36px / auto auto 1fr;
	gap: 20px 30px;
	align-items: center;
}

.rating-container {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}

.comment {
	grid-area: 2 / 1 / 3 / 4;
}

.submit {
	grid-area: 3 / 1 / 4 / 4;
}

.submit span {
	font-weight: 400;
	font-size: 14px;
	margin-left: 10px;
}

@media (max-width: 550px) {
	.form {
		margin: 10px;
		grid-template: repeat(5, auto) / 1fr;
		gap: 15px;
	}

	.rating-container {
		justify-content: flex-start;
	}

	.comment {
		grid-area: auto;
	}

	.submit {
		grid-area: auto;
	}
}