.container {
	padding-bottom: 20px;
	border-bottom: 1px solid var(--gray-light);
}

.info {
	display: grid;
	grid-template-columns: 1fr auto;
}

.title {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 30px;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.price {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-items: start;
	align-items: center;
	align-content: center;
	column-gap: 30px;
	font-weight: 300;
	font-size: 14px;
}

.cost {
	font-weight: 400;
	font-size: 20px;
	display: flex;
}

.cost span {
	font-size: 14px;
}

@media (max-width: 1300px) {
	.info {
		gap: 20px;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}
}

@media(max-width: 550px) {
	.price {
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		column-gap: 40px;
		row-gap: 5px;
		align-items: end;
	}

	.title {
		gap: 15px;
	}

	.priceTitle {
		grid-area: 1 / 1 / 2 / 2;
	}

	.creditTitle {
		grid-area: 2 / 1 / 3 / 2;
	}

	.ratingTitle {
		grid-area: 3 / 1 / 4 / 2;
	}
}