.header {
	display: grid;
	gap: 10px;
	grid-template-columns: auto auto 1fr;
	margin: 40px 0 20px;
	align-items: center;
}

.filters {
	justify-self: end;
}

.filter {
	margin-left: 20px;
	font-weight: 400;
	font-size: 16px;
	color: #000;
	cursor: pointer;
}

.filter:last-child {
	margin-left: 20px;
}

.filter svg {
	display: none;
}

.active {
	font-weight: 700;
	color: var(--primary);
}

.active svg {
	display: inline;
}

@media (max-width: 550px) {
	.header {
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.filters {
		justify-self: start;
	}

}